build/

**/build/

*.swp
*.swo
*.tmp

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.vpk
*.3dsx
*.elf
*.PBP
*.SFO
*.nro
*.nacp

*.dSYM/
*.stackdump
*.core
*.pdb
*.ilk

*.log

.vscode/
*.code-workspace